.project {
  margin-bottom: var(--space-9);
}

.project:last-child {
  margin-bottom: 0;
}

.link {
  display: block;
}

.image {
  margin-bottom: var(--space-6);
}

.title {
  font-size: var(--text-lg);
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.1;
  margin-bottom: var(--space-3);
}

.description {
  font-size: var(--text-md);
  color: var(--color-muted);
  font-weight: 400;
}

.link:hover .title {
  color: var(--color-accent);
  transition: color 0.3s var(--ease);
}
